@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900');
@import url('https://fonts.googleapis.com/css?family=Anton');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900');
@import url('https://fonts.googleapis.com/css?family=Roboto');
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;

}
body {
  line-height: 1;
  width: 100%;
}


ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  background: #ffffff;
  color: #000;
  font-family: "Lato", sans-serif;
  height: 100vh;
}

h2, .TitleList .Title {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.4;
  margin-bottom: 1em;

}

p {
  font-size: 15px;
  font-weight: 300;
  line-height: 1.6;
  margin-bottom: 1em;
}

.Header {
  /* FF3.6-15 */
  background: -webkit-linear-gradient(to right, #82f2da 0%, white 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #82f2da 30%, white 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 );
  /* IE6-9 */
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  box-sizing: border-box;
  z-index: 5;
  height: 70px;
}

.Logo {
  width: 151px;
  height: 41px;
  margin-right: 10px;
  -webkit-transition: margin .125s ease;
  transition: margin .125s ease;
}
.Logo svg {
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
}
.Logo svg path {
  fill: #63fff7;
  -webkit-transition: fill .125s ease;
  transition: fill .125s ease;
}
.Logo:hover {
  cursor: pointer;
  margin-top: 2px;
}
.Logo:hover svg path {
  fill: #3ac1a5 !important;
}

.Navigation ul {
  margin-left: -10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
    -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 10px 0px 0px;
}
.Navigation li {
  font-weight: 400;
  padding: 7px 10px;
  font-size: 14px;
  -webkit-transition: background .125s ease;
  transition: background .125s ease;
  border-radius: 50px;

}


.Login{
margin-right: 20px;
}

.Login:hover {
  background: #ffffff;
}

.Search {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  position: absolute;
  left: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  pointer-events: none;
  margin-left: 200px;
}
.Search input {

  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 14px;
  height: 37px;
  width: 20%;
  background: linear-gradient(to right, #9ff4e2 30%, white 100%);
  color: #000000;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 0;
  border: 2px solid rgba(255, 255, 255, 1);
  outline: none;
  border-radius: 37px;
  padding: 0 10px;
  pointer-events: all;
  -webkit-transition: border .25s ease, width .125s ease .125s;
  transition: border .25s ease, width .125s ease .125s;
}
.Search input:focus {
  border: 2px solid #ffffff;
  width: 25%;

}

.UserProfile {
  margin-left: auto;
}
.UserProfile .User {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.UserProfile .User .image {
  border-radius: 44px;
  margin-left: 10px;
  overflow: hidden;
  width: 44px;
  height: 44px;
  box-sizing: border-box;
  border: 3px solid transparent;
  -webkit-transition: border .125s ease;
  transition: border .125s ease;
}
.UserProfile .User .image img {
  width: 100%;
  display: block;
}
.UserProfile .User .name {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: 18px;
  font-weight: 300;
  height: 44px;
}

.UserProfile .User:hover .image {
  border: 3px solid #82f2da;
}
.UserProfile .UserProfile-menu {
  display: none;
}

.Hero {
  background-size: cover;
  min-height: 100vh;

}
.Hero .content {
  position: absolute;
  z-index: 4;
  width: 100vh;
  left: 10vw;
  margin-top: 10em;;
}


.Hero .content .logo {
  max-width: 400px;
  display: block;
  position: relative;
  left: -5px;
}

.Hero .content .button-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 400px;
}
.Hero .content .button-wrapper .Button:first-child {
  margin-right: 10px;
}
.Hero .overlay {
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #82f2da 0%, rgba(34, 31, 31, 0) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to left, #82f2da 30%, white 100%);

  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  /* IE6-9 */
  height: 100%;
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.Button {
  background: transparent;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 44px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  color: #000;
  padding: 20px;
  box-sizing: border-box;
  border: 2px solid rgba(245, 245, 241, 0.5);
  border-radius: 44px;
  font-size: 14px;
  font-weight: 600;
  -webkit-transition: border .125s ease, background .125s ease;
  transition: border .125s ease, background .125s ease;
}
.Button:hover {
  border: 2px solid #d1d1d1;
}
.Button[data-primary='true'] {
  border: 2px solid #63fff7;
}
.Button[data-primary='true']:hover {
  background: #63fff7;
  color: #ffffff;

}

.Button[data-primary='false']:hover {
  color:#000
}

.Tab{
  border-radius: 4px;
}

.Tab:hover {
  cursor: pointer;
  background-color: #63fff7;
  color: #ffffff;
}

.Tab:focus{
  background-color: #63fff7;
}



.TitleList {
  box-sizing: border-box;
  -webkit-transition: opacity 3s ease;
  transition: opacity 3s ease;
  opacity: 0;
  position: relative;
  z-index: 0;



}
::-webkit-scrollbar {
    display: none;
}




.Scroller{
  display: inline-flex;
  overflow-x: scroll;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  width: 100%;




}


.TitleList[data-loaded='true'] {
  opacity: 1;

}

.Item {
  width: 180px;
  min-width: 180px;
  background-color: #ffffff;
  -webkit-box-flex: 1;
 -webkit-flex: 1 0 auto;
     -ms-flex: 1 0 auto;
         flex: 1 0 auto;
  background-position: center;
  background-size: 100%;
  height: 180px;
  min-height: 180px;
  background-repeat: no-repeat;
  overflow: hidden;
  -webkit-transition: background 1s ease;
  transition: background 1s ease;
  display: inline-block;
  border-radius: 2em !important;
  border: 0px !important;
 box-shadow: 0 6px 14px rgba(0,0,0,0.19), 0 4px 4px rgba(0,0,0,0.23);
   transition: all 0.3s cubic-bezier(.25,.8,.25,1);


}
.Item:nth-child() {
  margin-top: 20px;
}
.Item:last-child {
  margin-right: 0;
}
.Item .overlay {
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.85) 0%, transparent 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.85) 0%, transparent 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 );
  /* IE6-9 */
  padding: 20px;
  position: relative;
  height: 100%;
  pointer-events: none;
  opacity: 0;
  -webkit-transition: opacity .125s ease;
  transition: opacity .125s ease;
}
.Item .overlay .title {
  font-size: 22px;
  font-weight: 200;
  opacity: 0;
  -webkit-transition: opacity .25s ease;
  transition: opacity .25s ease;
}
.Item .overlay .rating {
  font-size: 14px;
  opacity: 0;
  -webkit-transition: opacity .25s ease .125s;
  transition: opacity .25s ease .125s;
}
.Item .overlay .plot {
  font-size: 14px;
  display: -webkit-box;
  margin-top: 100px;
  font-weight: 300;
  line-height: 1.6;
  opacity: 0;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-transition: margin .25s ease .125s, opacity .25s ease .25s;
  transition: margin .25s ease .125s, opacity .25s ease .25s;
}
.Item:hover {
  background-size: 200%;
  cursor: pointer;
   box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

}
.Item:hover .overlay {
  opacity: 1;
  pointer-events: all;
}
.Item:hover .overlay .plot {
  margin-top: 10px;
  opacity: 1;
}
.Item:hover .overlay .title {
  opacity: 1;
}
.Item:hover .overlay .rating {
  opacity: 1;
}
.Item:hover .overlay .ListToggle {
  opacity: 1;
}
.DetailImg {
  background: 50% 50% no-repeat; /* 50% 50% centers image in div */
  width: 180px;
  height: 180px;
  border-radius: 20%;
  box-shadow: 0 6px 14px rgba(0,0,0,0.19), 0 4px 4px rgba(0,0,0,0.23);

}
.BreakWords {
width: 160px;
white-space: pre-line;
padding-left: 10px;
padding-right: 10px;
padding-bottom: 10px;


}

.HoverImg{
    margin: auto;
    width: 80%;
    border: 3px solid black;
    padding: 8px;
    text-align: center;
    justify-content: center;
    margin-top: 45px;


}

.iconButton {
  display: inline-block !important;
  height: 50px !important;
  width: 50px !important;
  border-radius: 50% !important;
  border: 8px solid #ffffff !important;
  background-color: #ffffff;
  margin: 5px;
  box-shadow: 0 6px 14px rgba(0,0,0,0.19), 0 4px 4px rgba(0,0,0,0.23);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.iconButton:hover {
  cursor: pointer;
   box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.ItemViewAll {
  width: 180px;
  min-width: 180px;
  background-color: #ffffff;
  -webkit-box-flex: 1;
 -webkit-flex: 1 0 auto;
     -ms-flex: 1 0 auto;
         flex: 1 0 auto;
  background-position: center;
  background-size: 100%;
  height: 180px;
  min-height: 180px;
  background-repeat: no-repeat;
  overflow: hidden;
  -webkit-transition: background 1s ease;
  transition: background 1s ease;
  display: inline-block;
  border-radius: 2em !important;
  border: 0px !important;
 box-shadow: 0 6px 14px rgba(0,0,0,0.19), 0 4px 4px rgba(0,0,0,0.23);
   transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.ItemViewAll:nth-child() {
  margin-top: 20px;
}
.ItemViewAll:last-child {
  margin-right: 0;
}
.ItemViewAll .overlay {
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.85) 0%, transparent 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.85) 0%, transparent 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 );
  /* IE6-9 */
  padding: 20px;
  position: relative;
  height: 100%;
  pointer-events: none;
  opacity: 0;
  -webkit-transition: opacity .125s ease;
  transition: opacity .125s ease;
}
.ItemViewAll .overlay .title {
  font-size: 22px;
  font-weight: 200;
  opacity: 0;
  -webkit-transition: opacity .25s ease;
  transition: opacity .25s ease;
}
.ItemViewAll .overlay .rating {
  font-size: 14px;
  opacity: 0;
  -webkit-transition: opacity .25s ease .125s;
  transition: opacity .25s ease .125s;
}
.ItemViewAll .overlay .plot {
  font-size: 14px;
  display: -webkit-box;
  margin-top: 100px;
  font-weight: 300;
  line-height: 1.6;
  opacity: 0;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-transition: margin .25s ease .125s, opacity .25s ease .25s;
  transition: margin .25s ease .125s, opacity .25s ease .25s;
}
.ItemViewAll:hover {
  background-size: 200%;
  cursor: pointer;
   box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

}
.ItemViewAll:hover .overlay {
  opacity: 1;
  pointer-events: all;
}
.ItemViewAll:hover .overlay .plot {
  margin-top: 10px;
  opacity: 1;
}
.ItemViewAll:hover .overlay .title {
  opacity: 1;
}
.ItemViewAll:hover .overlay .rating {
  opacity: 1;
}
.ItemViewAll:hover .overlay .ListToggle {
  opacity: 1;
}

.ItemViewAllContainer {
  background: red;


}

.hidden {
	display: none;
  z-index: 1;
}


.DetailImgMobile {
  width: 22vh;
  height: 22vh;
  border-radius: 20%;
  box-shadow: 0 6px 14px rgba(0,0,0,0.19), 0 4px 4px rgba(0,0,0,0.23);

}


.AppBar{
  position: relative;
  background: linear-gradient(to top, #82f2da 30%, white 100%);
  background: -webkit-linear-gradient(to top, #82f2da 0%, white 100%);

}

.iconButtonDetailsMobile {
  display: inline-block !important;
  height: 55px !important;
  width: 55px !important;
  border-radius: 50% !important;
  border: 8px solid #ffffff !important;
  margin-right: 15px;
  margin-bottom: 15px;
  background-color: #ffffff;
    box-shadow: 0 6px 14px rgba(0,0,0,0.19), 0 4px 4px rgba(0,0,0,0.23);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.DrawerHeader{
  height: 15vh;
  width: 100%;
  background: linear-gradient(to top, #82f2da 30%, white 100%);
  background: -webkit-linear-gradient(to top, #82f2da 0%, white 100%);

}
